/*
#title-bar {
    position: fixed;
    top: 0vh;
    margin-bottom: 2vh;
    background-color: #0E3837;
    color: #ADCCC6;
    height: 2vh;
    width: 100vw;
}
*/

body {
    font-family: Arial; 
    color: #0E3837;
    background-color: #F0F0F0;
}

.div-main {
    position: relative;
    justify-content: left;
    /* overflow-x:hidden; */
    /* text-overflow: clip; */
    display: flex;
}

.container-template {
    display: grid;
    position: relative;
    justify-content: left;
    width: 0%;
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: minmax(5%, auto); 
    grid-gap: 1px;
    margin-top: 2px;
    opacity: 0;
    transition: width 0.25s;
    
}

.container-template > :nth-child(odd) {
    align-items:stretch;
    background-color: #F0F0F0;
    padding: 2px;
}

.container-template > :nth-child(even) {
    align-items: stretch;
    background-color: #ADCCC6;
    padding: 2px;
}

.expand-div {
    position: relative;
    background-color:#F0F0F0;
    width: 20px;
    opacity: 1;
}

.close-div {
    position: relative;
    background-color: #F0F0F0;
    width: 0px;
    opacity: 0;
}

.input-form {
    width: 100%;
    background-color: #ADCCC6;
    opacity: 1;
    transition: width 0.25s;
}

.input-form-label {
    float: left;
    width: 25%;
    margin-top: 2%;
}

label {
    margin-left: 5%;
    margin-top: 2%;
}

.input-form-field {
    float: left;
    width: 75%;
    margin-top: 2%;
}

input[type=text], textarea {
    float: right;
    font-family: arial;
    width: 80%;
    padding: 12px;
    margin-right: 1%;
    border: 1px solid #0E3837;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/*textarea {
    font-family: arial;
    width: 80%;
    padding: 12px;
    border: 1px solid #0E3837;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}*/

button {
    background-color: #0E3837;
    color: #F0F0F0;
    padding: 1vh;
    margin: 1vh;
    border: none;
    border-radius: 4px;
    float: right;
  }

footer {
    position: fixed;
    bottom: 0vh;
    margin-top: 2vh;
    background-color: #0E3837;
    color: #ADCCC6;
    height: 2vh;
    width: 110vw;
}